@import
url('https://fonts.googleapis.com/css2?
famly=nunito+sans:ital,opsz,
wght@0,6..12,200..1000;1,6..12..200..1000&display=swap')
:root{
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secundary-color: #f05454
}
:root{
    --bg-color: #222831;
    --primary-color: #DDDDDD;
    --secundary-color: #f05454;
    --font:"Nunito Sans", Sans-serif;
}
body{
    background-color: var(--bg-color);
}
<head>
<meta charset="UTF-8">
<meta name="viewport" ::content="width=device-width,initial-scale=1.0">
<title>Redes Sociais</title>
<link real="stylesheet" href="styli.css">
</head>
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
}